.SignIn {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 0;

  color: var(--white-100);
  background-color: var(--white-100);
}

.SignIn__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1.6rem;

  border-bottom: 1px solid rgba(151, 151, 151, .2);
}

.SignIn__content {
  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  width: 350px;
  padding-right: 12px;
  padding-left: 12px;
}

.SignIn__title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.26;

  margin-top: 3rem;
  margin-bottom: 2rem;

  color: var(--text-color);
}

.SignIn__form {
  width: 100%;
}

.SignIn__submit, .SignIn__form {
  margin-top: 30px;
}

.SignIn__links {
  margin-top: 3rem;
}

@media (--mobile) {
  .SignIn__content {
    width: 310px;
    padding: 0 10px 0 10px;
  }

  .SignIn__header {
    padding-top: 1.1rem;
    padding-bottom: 1rem;
  }


  .SignIn__title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.26;

    margin-top: 1.1rem;
    margin-bottom: 1rem;

    color: var(--text-color);
  }
}
