.WalletCardMomentous {
  font-size: 16px;

  display: inline-flex;
  align-items: center;

  padding: 12px 0 22px 0;
}

.WalletCardMomentous__range {
  margin-left: 8px;

  opacity: .7;
}
.WalletCardMomentous_highlight {
  font-size: 42px;
  font-weight: bold;

  opacity: 1;
}
