.Password {
  position: relative;
}
.Password__icon {
  position: absolute;
  right: 12px;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  display: block;
  height: 24px;
  cursor: pointer;
  z-index: 2;
}
.Password__icon:not(:focus-visible) {
  outline: none;
}
.Password__input {
  padding-right: 40px;
}
