.AdminLayout {
  display: grid;

  grid-template-areas: 'sidebar content';
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
}
.AdminLayout__content {
  height: 100vh;

  grid-area: content;
}
.AdminLayout__sidebar {
  background-color: var(--background-default);

  grid-area: sidebar;
}

@media (--mobile) {
  .AdminLayout {
    display: grid;

    grid-template-areas: 'sidebar'
    'content';
    grid-template-rows: min-content 1fr;
  }
  .AdminLayout__sidebar {
    width: 100vw;
  }
}
