.RaceType__block {
  width: 100%;
  padding: 20px;

  border-top: 2px solid var(--black-5);
}
.RaceType__title {
  padding: 10px;
}

.RaceType__form {
  width: 500px;
}
.RaceType__raceTypeList {
  padding: 20px;
}
@media (--mobile) {
  .RaceType__form {
    width: 280px;
  }
}
