:root {
  --background-dark: hsl(217, 23%, 11%);
  --background-default: rgba(153, 163, 173, .15);
  --background-invalid: rgba(255, 68, 74, .1);
  --background-light: hsl(200, 13%, 95%);
  --black-100: hsl(0, 0%, 0%);
  --black-12: hsla(0, 0%, 88%);
  --black-20: hsla(0, 0%, 80%);
  --black-3: hsla(0, 0%, 97%);
  --black-5: hsla(0, 0%, 95%);
  --black-50: hsla(0, 0%, 50%);
  --black-70: hsla(0, 0%, 30%);
  --black-8: hsla(0, 0%, 92%);
  --border-color-default: rgba(153, 163, 173, .2);
  --border-color-invalid: #ff444aff;
  --color-default: #07022d;
  --color-invalid: #07022d;
  --correct: hsl(149, 66%, 59%);
  --error: hsl(0, 100%, 50%);
  --indent-left-10: 10px;
  --indent-left-15: 15px;
  --indent-left-20: 20px;
  --placeholder-color: rgba(7, 2, 45, .5);
  --placeholder-color-invalid: rgba(7, 2, 45, .5);
  --primary-100: hsl(193, 100%, 44%);
  --primary-30: hsl(193, 100%, 13%);
  --primary-70: hsl(193, 100%, 30%);
  --primary-8: hsl(193, 100%, 4%);
  --text-color: var(--black-70);
  --white-10: hsla(0, 0%, 10%);
  --white-100: hsl(0, 0%, 100%);
  --white-30: hsla(0, 0%, 30%);
  --white-60: hsla(0, 0%, 60%);
}

html {
  font-family: 'Open Sans', sans-seri;
  font-size: 14px;
}
h1 {
  font-weight: 600;
}
h1, h2 {
  color: var(--text-color);
}
a {
  font-size: 16px;
  font-weight: bold;

  box-sizing: border-box;
  min-height: 40px;
  padding: 5px 20px;

  cursor: pointer;
  text-decoration: none;

  color: var(--primary-100);
  border: solid 2px transparent;
  border-radius: 8px;
  background-color: transparent;
}
a:hover {
  color: var(--primary-70);
}
a:active {
  transform: translateY(5px);
}
a:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-100);
}
