.Logo {
  font-size: 3.7rem;

  display: block;

  color: var(--text-color);
}

.Logo_highlight {
  color: var(--primary-100);
}

.Logo_bold, .Logo_highlight {
  font-weight: bold;
}

@media (--mobile) {
  .Logo {
    font-size: 1.7rem;
  }
}
