.Race__form {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 20px;
}
.Race__formItem {
  flex: 1 1 auto;

  margin: 10px;
}
.Race__formSelect {
  min-width: 280px;
}
.Race__submit {
  margin: 10px;
}
.Race__listItem {
  word-break: break-all;
}
