.Race__form {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 20px;
}
.Race__formItem {
  flex: 1 1 auto;

  margin: 10px;
}
.Race__formSelect {
  min-width: 280px;
}
.Race__submit {
  margin: 10px;
}
.Race__listItem {
  word-break: break-all;
}
.Race__listGroup {
  display: grid;

  padding: 5px 20px;

  grid-template-columns: repeat(6, 1fr);
}

.Race__listGroup:nth-child(2n) {
  background-color: var(--background-default);
}

.Race__listGroup_header {
  font-size: 1.3em;
  font-weight: 600;

  border-bottom: 2px solid var(--border-color-default);
}
.Race__tabs {
  border-top: 2px solid var(--border-color-default);
  border-bottom: 2px solid var(--border-color-default);
  background-color: var(--background-default);
}
.Race__tab {
  margin-right: 10px;
}

@media (--mobile) {
  .Race__listGroup_header {
    display: none;
  }
  .Race__listGroup {
    margin: 1.1em 1.75em;
    padding: 1.25em 1.75em;

    border: solid 1px hsl(207, 24%, 93%);
    border-radius: 9px;
    background-color: hsl(204, 33%, 97%);

    grid-template-columns: initial;
  }
  .Race__listItem::before {
    font-size: 1.1em;
    font-weight: 600;

    content: attr(aria-label);
  }
  .Race__tab {
    width: 100%;
    margin-right: 0;
  }
}
