.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 20px 0;

  border-bottom: 2px solid var(--black-5);
  background-color: var(--white-100);
}

.Header__menuButton {
  border: none;
  background-color: transparent;
}
.Header__menuButton_label, .Header__menuButton_label::after, .Header__menuButton_label::before {
  width: 20px;
  height: 2px;

  cursor: pointer;
  transition: all ease-in-out 400ms;

  background-color: var(--black-100);
}
.Header__menuButton_label::after, .Header__menuButton_label::before {
  position: absolute;

  display: block;

  content: '';
}
.Header__menuButton_label {
  position: relative;

  margin: 10px;

  border: none;
}
.Header__menuButton_label::after {
  top: 6px;
}

.Header__menuButton_label::before {
  bottom: 6px;
}
.Header__menuButton_open {
  background-color: transparent;
}

.Header__menuButton_open::after {
  transform: rotate(45deg) translateY(-8px);
}

.Header__menuButton_open::before {
  transform: rotate(-45deg) translateY(8px);
}
.Header__sidebar {
  position: fixed;
  z-index: 50;
  top: 60px;
  right: -9999px;
  bottom: 0;
  left: 9999px;

  display: flex;
  flex-direction: column;

  padding-top: 10px;

  transition: all ease 600ms;

  background-color: var(--white-100);
}

.Header__sidebar_open {
  right: 0;
  left: 0;
}

.Header__sidebarTitle {
  margin: 20px;
}

@media (--tablet) {
  .Header__navigation {
    display: none;
  }
  .MenuButton {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 6px;
  }
  .Header {
    justify-content: space-between;
  }
  .Header__user {
    margin-top: 4px;
    margin-right: 0;
    margin-left: 21px;
  }
}
