.SideMenuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 10px;
  padding: 0;

  white-space: nowrap;

  color: var(--black-70);
}
.SideMenuLink.SideMenuLink_active:hover {
  color: var(--white-100);
}
.SideMenuLink_active {
  color: var(--white-100);
  border-radius: 0;
  border-radius: 5px;
  background-color: var(--primary-100);
}

.SideMenuLink:first-child {
  margin-top: 20px;
}
.SideMenuLink, .AdminSideMenu__icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;

  border: none;
}

@media (--mobile) {
  .SideMenuLink:first-child {
    margin-top: 10px;
    margin-left: 20px;
  }
}
