.Section {
  width: 100%;
  padding: 20px;

  border-top: 2px solid var(--black-5);
}

@media (--mobile) {
  .Section {
    width: 100%;
    padding: 10px;

    border-top: 2px solid var(--black-5);
  }
}
