.CardMomentous {
  font-size: 16px;

  display: inline-flex;
  align-items: center;

  color: var(--text-color);
}

.CardMomentous__range {
  margin-left: 8px;

  opacity: .7;
}
.CardMomentous_highlight {
  font-size: 42px;
  font-weight: bold;

  opacity: 1;
  color: var(--black-100);
  /* color: var(--primary-100); */
}
