.WalletCardBillingState {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;

  height: 100%;
  margin-top: 32px;
}
.WalletCardBillingState__text {
  opacity: .7;
}
.WalletCardBillingState__text_highlight {
  font-weight: 600;

  margin-left: 3px;
}
