.FormControl {
  position: relative;

  margin-bottom: 25px;
}
.FormControl__label {
  display: block;

  margin-bottom: 6px;

  text-align: left;

  color: #99a3ad;
}
.FormControl__error {
  font-size: 12px;
  line-height: 1.17;

  position: absolute;
  right: 0;

  display: flex;

  width: 100%;

  text-align: right;

  color: var(--error);
}
.FormControl__errorMessage {
  overflow: hidden;
  flex: 1;

  margin-top: 5px;

  white-space: nowrap;
  text-overflow: ellipsis;
}
