.CardMarkText {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  display: flex;

  margin: 2px 0;
}

.CardMarkText__icon {
  align-self: baseline;

  height: 100%;
  margin-right: 8px;
}
